
.heading {
    font-weight: bold;
    color:whitesmoke;
}

.weatherBg {
    background: url('./assets/b2.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



.btn {
    /* background-color: blue; */
    position: relative;
    top: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    top: 25px;
}

.form-control {
    width: 50%;
    border-radius: 5px ;
}

.mid {
    margin: 5rem;
}

.result {
    background-color: whitesmoke;
    border-radius: 20px;
    top:20rem;
    height: 40vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}